mixin sResults()
	// start sResults
	+b.SECTION.sResults.section#sResults&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Какой конкретно результат после обучения?
			+e.top-text Лучшее доказательство&nbsp;&mdash; сделки наших учеников. Смотрите сами!
			+e.row.row
				mixin item(i, t, pr)
					+e.col.col-lg-6
						+e.item
							+e.img-wrap(href=`img/@2x/result-${i}.png` data-fancybox="rew-1")
								+pic(`result-${i}.png`)
								//- img.res-i.lazy(src="#" data-src=`img/@2x/result-${i}.png`, alt="")
							+e.text 
								= t
								span.price= pr
				+item("1","9 000 руб. превратились"," в 41 460 руб.")
				+item("2","3 000 руб. превратились ","в 17 000 руб.")
				+item("3","3 000 руб. превратились ","в 15 000 руб.")
				+item("4","3 000 руб. превратились"," в 21 000 руб.")
				+item("5","12 000 руб. превратились в"," 44 000 руб.")
				+item("6","3 000 руб. превратились в ","26 388 руб.")
			
			.slider-wrapper
				+e.slider--js.swiper-container
					.swiper-wrapper
						mixin slide(i)
							+e.slide.swiper-slide
								+e.img-wrap--sl(href=`img/@2x/slider-rew-${i}.png` data-fancybox='rews')
									img.res-i.swiper-lazy(src="#" data-src=`img/@2x/slider-rew-${i}.png`, alt="")
						mixin full(x)
							+e.slide
								.row
									.col-6
										+slide(x)
									.col-6
										+slide(x + 1)
						- for (var x = 1; x < 20; x++)
							+slide(x)
						//- 	+full(2 * x  + 1)
						//- +e.slide
						//- 		.row
						//- 			.col-6
						//- 				+slide(19)
				+arrow
				.swiper-pagination
			.block-decorate
				+e.btn.btn.lb_target(type="button") Заинтересовало? Хотите так же? Кликайте
	// end sResults